*{
    font-family:Roboto, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
#navbar{
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    padding:0.4% ;
}
#web-logo{
    width: 100%;
}
#web-logo:hover{
    cursor: pointer;
}
#navbar>div:nth-child(3){
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
}
#navbar>div:nth-child(3)>a{
    text-decoration: none;
    color: rgb(47, 47, 47);
    font-size: 12px;
}

#navbar>div:nth-child(2){
    display: flex;
    justify-content: space-around;
}
#navbar>div:nth-child(2)>img{
    width: 15%;
    transition: 0.3s;
}
#navbar>div:nth-child(2)>img:hover{
    cursor: pointer;
    transform: scale(1.11);
    transition: 0.3s;    
}

#nav-fb{
    border: none;
    color: white;
    border-radius: 5px;
    background-color: #35619f;
    padding:5px 10px 5px 10px;
    font-weight: 600;
    transition: 0.4s;
}

#nav-mail{
    border: none;
    color: white;
    border-radius: 5px;
    background-color: #666666;
    padding:5px 22px 5px 22px;
    font-weight: 600;
    transition: 0.4s;
}

#nav-fb:hover{
    background-color: white;
    color: #35619f;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.4s;
}
#nav-mail:hover{
    background-color: white;
    color: #666666;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.4s;
}
#navbar>div:nth-child(4){
    display: none;
}
.fa-bars:hover{
    cursor: pointer;
}

#nav-menu{
    background-color: #2bb673;
    display: flex;
    
}
#nav-menu>ul{
    width: 58%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    margin: auto;
}
#nav-menu>ul>li{
    padding: 1%;
    color: #fff;
    font-size: 18px;
}
#nav-menu>ul>li:hover{
    cursor: pointer;
    background-color: #229760;
    color: rgb(235, 235, 235);
}
.active{
    background-color: #229760;
    color: rgb(255, 255, 255);
}

#header{
    background-color:#f0f0f0 ;
    padding: 1%;
    display: flex;
    margin: auto;
}
#head-desc>h1{
    color: #444444;
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 0.2%;
}
#head-desc>p{
    color: #444444;
    font-size: 14px;
}
#head-desc{
    width: 60%;
    margin: auto;
    line-height: 35px;
}

#nav-options{
    display: flex;
    width: 60%;
    justify-content: space-around;
    margin: auto;
    margin-top: 2%;
}
#nav-options>button {
    border: 1px solid #f0f0f0;
    background-color: #f8f8f8;
    border-radius: 5px;
    color: #444444;
    padding:10px 10px;
    width: 22%;
    font-size:14px
}
#nav-options>button:hover{
    cursor: pointer;
    background-color: #f0f0f0;
}

#latestnews{
    width: 70%;
    padding: 1%;
    border: 1px solid #d8d8d8;
    margin: auto;
    border-radius: 10px;
    margin-top: 3%;
    margin-bottom: 3%;
}
#latestnews>div>h1{
    font-weight: 400;
}
#latestnews>div:nth-child(1){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#blocks, #blocks2, #blocks3{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}
#blocks>div, #blocks2>div, #blocks3>div{
    text-align: center;
    margin: auto;
    width: 19%;
}
#blocks>div>img, #blocks2>div>img, #blocks3>div>img{
    width: 100%;
}
#blocks>div>p, #blocks2>div>p, #blocks3>div>p{
    font-size: 13px;
}
@media all and (min-width:340px) and (max-width:480px){
    #navbar{
        width: 95%;
        padding: 2%;
    }
    #navbar>div:nth-child(3){
        display: none;
    }
    #navbar>div:nth-child(2){
        display: none;
    } 

    .fa-bars{
        font-size: 22px;
    }
    #web-logo{
        width: 50%;
    }
}

@media all and (min-width:481px) and (max-width:760px){
    #navbar{
        width: 95%;
    }
    #navbar>div:nth-child(3){
        display: none;
    }
    #navbar>div:nth-child(2){
        display: none;
    } 

    .fa-bars{
        font-size: 32px;
    }
}