*{
    font-family:Roboto, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
#navbar{
    width: 65%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    padding:0.4% ;
}
#web-logo{
    width: 100%;
}
#web-logo:hover{
    cursor: pointer;
}
#navbar>div:nth-child(3){
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}
#navbar>div:nth-child(3)>a{
    text-decoration: none;
    color: rgb(47, 47, 47);
    font-size: 12px;
}

#navbar>div:nth-child(2){
    display: flex;
    width: 25%;
    justify-content: space-evenly;
}
#navbar>div:nth-child(2)>img{
    width: 15%;
    transition: 0.3s;
}
#navbar>div:nth-child(2)>img:hover{
    cursor: pointer;
    transform: scale(1.11);
    transition: 0.3s;    
}

#nav-fb{
    border: none;
    color: white;
    border-radius: 5px;
    background-color: #35619f;
    padding:5px 10px 5px 10px;
    font-weight: 600;
    transition: 0.4s;
}

#nav-mail{
    border: none;
    color: white;
    border-radius: 5px;
    background-color: #666666;
    padding:5px 22px 5px 22px;
    font-weight: 600;
    transition: 0.4s;
}

#nav-fb:hover{
    background-color: white;
    color: #35619f;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.4s;
}
#nav-mail:hover{
    background-color: white;
    color: #666666;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.4s;
}
#navbar>div:nth-child(4){
    display: none;
}
.fa-bars:hover{
    cursor: pointer;
}

#nav-menu{
    background-color: #2bb673;
    display: flex;
    
}
#nav-menu>ul{
    width: 58%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    margin: auto;
}
#nav-menu>ul>li{
    padding: 1%;
    color: #fff;
    font-size: 18px;
}
#nav-menu>ul>li:hover{
    cursor: pointer;
    background-color: #229760;
    color: rgb(235, 235, 235);
}
.active{
    background-color: #229760;
    color: rgb(255, 255, 255);
}

#header{
    background-color:#f0f0f0 ;
    padding: 1%;
    display: flex;
    margin: auto;
}
#head-desc>h1{
    color: #444444;
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 0.2%;
}
#head-desc>p{
    color: #444444;
    font-size: 14px;
}
#head-desc{
    width: 60%;
    margin: auto;
    line-height: 35px;
}

#nav-options{
    display: flex;
    width: 60%;
    justify-content: space-around;
    margin: auto;
    margin-top: 2%;
}
#nav-options>button {
    border: 1px solid #f0f0f0;
    background-color: #f8f8f8;
    border-radius: 5px;
    color: #444444;
    padding:10px 10px;
    width: 22%;
    font-size:14px
}
#nav-options>button:hover{
    cursor: pointer;
    background-color: #f0f0f0;
}

#latestnews{
    width: 70%;
    padding: 1%;
    border: 1px solid #d8d8d8;
    margin: auto;
    border-radius: 10px;
    margin-top: 3%;
    margin-bottom: 3%;
}
#latestnews>div>h1{
    font-weight: 400;
}
#latestnews>div:nth-child(1){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#blocks, #blocks2, #blocks3{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}
#blocks>div, #blocks2>div, #blocks3>div{
    text-align: center;
    margin: auto;
    width: 19%;
}
#blocks>div>img, #blocks2>div>img, #blocks3>div>img{
    width: 100%;
}
#blocks>div>p, #blocks2>div>p, #blocks3>div>p{
    font-size: 13px;
}
#block-items{
    width: 55%;
    font-size: 22px;
    color: #2766be;
    display: flex;
    justify-content: space-around;
}
#block-items>a{
    text-decoration: none;
}
#ft-back{
    background-color: #2bb673;
    width: 100%;
}
#footer{
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2.5%;
    padding-bottom: 2%;
}

#copyright{
    color: #fff;
    width: 60%;
    margin: auto;
    padding-bottom: 1%;
}
#copyright>p{
    line-height: 15px;
    text-align: center;
    font-size: 12px;
}
#footer>ul{
    list-style-type: none;
    color: #fff;
}
#footer>ul>li>h4{
    font-size: 15px;
    margin-bottom: 3%;
}
#footer>ul>li{
    line-height:20px;
    font-size: 12px;
}

#container-d{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(6,auto);
    gap: 40px;
    width: 65%;
    margin:auto;
    margin-top: 3%;
    background-size: cover;
    
}

#box{
    border: 1px solid rgb(220, 220, 220);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    padding: 5%;
}
#box>h2{
    font-size:30px;
    font-weight: 400;
    margin-bottom: 2%;
}
#box>p{
    font-size:14px;
    color:RGB(68, 68, 68)
}
#box>h4{
    font-size:19px;
    color:RGB(68, 68, 68);
    font-weight: 400;
}
#box>img{
    margin-top: 4%;
    width: 100%;
}
#box>h4+p{
    margin-bottom: 2%;
}

#hrd{
    width: 100%;
    height: 1px;
    background-color: #d9d9d9;
    margin: 4% 0%;
}
#box2{
    margin:auto;
    margin-top: 3%;
    margin-bottom: 10%;
    width: 95%;
    border: 1px solid #dbdbdb;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

#box2>div:nth-child(1){
    width: 100%;
}
#box2>div:nth-child(1)>img{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-size: cover;
    z-index: -1;
}
#bac-blur{
    width: 100%;
    padding: 10px 0px;
    background-color:RGBA(0, 0, 0, 0.5);
    margin-top: -10%;
    position: relative;
    z-index: 11;
}
#bac-blur>h3{
    font-weight: 400;
    font-size:24px;
    text-align: center;
    color: #fff;
}
#shopb{
    background-color: #f53838;
    font-size:19px;
    color:#FFFFFF;
    padding:10px 18px;
    border-radius: 7px;
    border: none;
    outline: none;
    font-weight: 600;
    width: 40%;
    letter-spacing: 0.5px;
    margin: 10% 0%;
    transition: 0.3s;
}
#shopb:hover{
    cursor: pointer;
    transition: 0.3s;
    background-color: #f53838;
    color:#FFFFFF;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#box2>div:nth-child(3){
    display: flex;
    margin: auto;
    justify-content: center;
}

/***Modal Css**/
#signup-modal:hover{
    cursor: pointer;
}
.modal-button{
    font-size: 30px;
    color: #adb2b8;
    display: flex;
    justify-content: end;
}
.modal-button:hover{
    cursor: pointer;
}
.top_div{
    text-align: center;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    margin: auto;
    margin-bottom: 2%;
}
.top_div>h2{
    font-size:20px;
    text-align: center;
    font-weight: 700;
}
#sec_div{
    display: flex;
    margin: auto;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #d8d8d8;
    padding: 3%;
    gap: 20px;
}
#sec_div>div:nth-child(1){
    gap: 10px;
    width: 50%;
}
#sec_div>div:nth-child(2)>p{
    font-size: 14px;
    letter-spacing: 1px;
}
#sec_div>div:nth-child(2){
    gap: 10px;
    width: 100%;
}

#sec_div>div>img{
    width: 100%;
}
.modal-div{
    padding: 0.01em 16px;
    padding-top: 0.01em;
    padding-right: 16px;
    padding-bottom: 0.01em;
    padding-left: 16px;
    margin: auto;
    background-color: White;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 0.5% 2% 2% 2%; 
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.w3-modal {
    background-color: rgba(0, 0, 0, 0.5) !important;
}
#opt{
    display: flex;
    justify-content: space-between;
}
#opt>a{
    font-size: 17px;
    color: #72787f;
    text-decoration: none;
}
#opt>a:hover{
    cursor: pointer;
    text-decoration: underline;
}

#sec_div:hover{
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background-color: #f2f2f2;
}
/*Modal Css End**/
@media all and (min-width:340px) and (max-width:480px){
    #navbar{
        width: 95%;
        padding: 2%;
    }
    #navbar>div:nth-child(3){
        display: none;
    }
    #navbar>div:nth-child(2){
        display: none;
    } 

    .fa-bars{
        font-size: 22px;
    }
    #web-logo{
        width: 50%;
    }
    #footer{
        flex-direction: column;
    }
}

@media all and (min-width:481px) and (max-width:760px){
    #navbar{
        width: 95%;
    }
    #navbar>div:nth-child(3){
        display: none;
    }
    #navbar>div:nth-child(2){
        display: none;
    } 

    .fa-bars{
        font-size: 32px;
    }
}